/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* roboto-regular - cyrillic */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-cyrillic-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-500 - cyrillic */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v30-cyrillic-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-700 - cyrillic */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-cyrillic-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-900 - cyrillic */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto-v30-cyrillic-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*, *::before, *::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', serif;
    font-style: normal;
    font-size: 20px;
    line-height: 23px;
    font-weight: 500;
    color: #e8d7c8;
    /*background: #002C64;*/
    background: #020736;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    max-width: 1164px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header styles start*/
.header {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 44, 100, 1)), to(#020736));
    background: -o-linear-gradient(rgba(0, 44, 100, 1), #020736);
    background: linear-gradient(rgba(0, 44, 100, 1), #020736);
    position: fixed; /* закрепление для скрола хеддера*/
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear;
    /*padding-bottom: 20px;*/
    z-index: 999;

}

.header_active {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 44, 100, 1)), to(#020736));
    background: -o-linear-gradient(rgba(0, 44, 100, 1), #020736);
    background: linear-gradient(rgba(0, 44, 100, 1), #020736);
    box-shadow: 0 -6px 10px 5px rgb(251, 253, 251);
}

.header_logo-pic {
    width: 130px;
}

.header_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; /* расположение контента*/
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; /*выравнивание по горизонтали*/
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; /* выравнивание по краям*/
    padding-top: 15px;
}

.header_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.header_item {
    margin-right: 57px;
    text-transform: uppercase;
}

.header_item:last-child {
    margin-right: 0;
}

.header_link {
    font-size: 20px;
    line-height: 23px;
    color: #e8d7c8;
    -webkit-text-decoration-line: none;
    text-decoration-line: none;
}

.header_link:hover, .header_link:focus, .header_link:active {
    color: #E23535;
    /*  opacity: 0.75;*/
}

.header_line {
    display: none;
}

.header_burger {
    display: none;
    width: 40px;
    height: 20px;
    position: relative;
}

.burger_line {
    display: block;
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: 0;
}

.burger_line_first {
    top: 0;
}

.burger_line_second {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.burger_line_third {
    bottom: 0;
}

/* Header styles end*/


/* Intro styles start*/
.intro {
    min-height: 100vh;
    margin-bottom: 170px;
    /*padding-top: 150px;*/
}

.intro_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    scroll-margin-top: 170px;
}

.intro_text {
    padding-top: 200px;
    background: -webkit-gradient(linear, left top, right top, color-stop(53.07%, #020736), color-stop(96.42%, rgba(0, 44, 100, 0)));
    background: -o-linear-gradient(left, #020736 80.07%, rgba(0, 44, 100, 0) 96.42%);
    background: linear-gradient(100deg, #020736 80.07%, rgba(0, 44, 100, 0) 110.42%);
    position: absolute;
}


.intro_pic {
    position: revert;
    min-height: 1000px;
}

.intro_title {
    font-weight: 800;
    font-size: 35px;
    line-height: 50px;
    max-width: 600px;
    margin-bottom: 10px;
    text-align: center;

}

.intro_title_2 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 27px;
    line-height: 50px;
    max-width: 600px;
    margin-bottom: 10px;
    text-align: center;

}

.intro_subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    max-width: 600px;
    margin-bottom: 30px;
    text-align: justify;
}

.intro_submit {
    background-color: #E23535;
    width: 380px;
    height: 50px;
    gap: 10px;
    margin-bottom: 100px;
    color: #e8d7c8;
    font-weight: 500;
    font-size: 20px;
    margin-left: 100px;
}

.intro_submit:hover, intro_submit:focus, intro_submit:active {
    background: #610202;
}

/* Intro styles end*/

/* About styles start*/
.about {
    height: 900px;
    margin-bottom: 50px;
}

.wrapper-stage-title {
    scroll-margin-top: 170px;
}

.about_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    scroll-margin-top: 170px;
}

.about_title {
    color: #00A5FE;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 150px;
}

.about_subtitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    margin-bottom: 40px;
}

.about_pic {
    display: -ms-grid;
    display: grid;
    margin-bottom: 130px;
    justify-items: right;
    margin-right: 40px;
    margin-left: 10px;
}

/*.about_pic:last-child {*/
/*    margin-bottom: 300px;*/
/*}*/

.about_text {
    font-size: 25px;
}

.about_subtitle_text,
.about_line {
    margin-bottom: 50px;
}

/* About styles end*/

/* Stage styles start*/

.stages {
    margin-bottom: 350px;
}

.wrapper-stage-title {
    scroll-margin-top: 170px;
}

.stages-title {
    color: #00A5FE;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 60px;
}

.stages-text {
    font-weight: 400;
    font-size: 25px;
    padding-left: 100px;
    /*line-height: 20px;*/
}

.stages-text-subtitle {
    font-size: 30px;
    margin-bottom: 50px;
    font-weight: 400;
    text-align: center;
    line-height: 30px;
}

li {
    padding-bottom: 10px;
    font-size: 18px;
    line-height: 30px;
}

h3 {
    margin-top: 10px;
    font-size: 18px;
}

h4 {
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    font-style: oblique;
}

h5 {
    font-size: 17px;
    font-weight: 300;
    font-style: oblique;
    margin-bottom: 20px;
    margin-left: 10px;
}

.info {
    background-color: #f9f9ff;
    padding: 10px 25px;
}

.info_switch,
.info_switch_2,
.info_switch_3,
.info_switch_4,
.info_switch_5,
.info_switch_6,
.info_switch_7 {
    display: none;
}

.info_body,
.info_body_2,
.info_body_3,
.info_body_4,
.info_body_5,
.info_body_6,
.info_body_7 {
    max-height: 0;
    overflow: hidden;
    transition: 0.4s;
}

.info_switch:checked ~ .info_body,
.info_switch_2:checked ~ .info_body_2,
.info_switch_3:checked ~ .info_body_3,
.info_switch_4:checked ~ .info_body_4,
.info_switch_5:checked ~ .info_body_5,
.info_switch_6:checked ~ .info_body_6,
.info_switch_7:checked ~ .info_body_7 {
    max-height: 100%;
    margin-bottom: 20px;
    margin-left: 40px;
}

.info_switch:checked ~ .info_stage_headline,
.info_switch_2:checked ~ .info_stage_headline_2,
.info_switch_3:checked ~ .info_stage_headline_3,
.info_switch_4:checked ~ .info_stage_headline_4,
.info_switch_5:checked ~ .info_stage_headline_5,
.info_switch_6:checked ~ .info_stage_headline_6,
.info_switch_7:checked ~ .info_stage_headline_7 {
    color: #E23535;
}

.info_stage_headline::before,
.info_stage_headline_2::before,
.info_stage_headline_3::before,
.info_stage_headline_4::before,
.info_stage_headline_5::before,
.info_stage_headline_6::before,
.info_stage_headline_7::before {
    content: "";
    position: absolute;
    left: -18px;
    top: 4px;
    border: 6px solid white;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
}

.info_switch:checked ~ .info_stage_headline::before,
.info_switch_2:checked ~ .info_stage_headline_2::before,
.info_switch_3:checked ~ .info_stage_headline_3::before,
.info_switch_4:checked ~ .info_stage_headline_4::before,
.info_switch_5:checked ~ .info_stage_headline_5::before,
.info_switch_6:checked ~ .info_stage_headline_6::before,
.info_switch_7:checked ~ .info_stage_headline_7::before {
    transform: rotate(180deg) translateY(6px);
}

.info_stage_headline,
.info_stage_headline_2,
.info_stage_headline_3,
.info_stage_headline_4,
.info_stage_headline_5,
.info_stage_headline_6,
.info_stage_headline_7 {
    display: block;
    position: relative;
    margin-bottom: 15px;
    user-select: none;
    color: #e8d7c8;
    font-size: 25px;
    font-weight: 300;
    cursor: pointer;

}

.info_stage_headline:hover,
.info_stage_headline_2:hover,
.info_stage_headline_3:hover,
.info_stage_headline_4:hover,
.info_stage_headline_5:hover,
.info_stage_headline_6:hover,
.info_stage_headline_7:hover {
    text-decoration: underline;
    color: #E23535;
}

/* Stage styles end*/

/* Carousel style start */
.service_href {
    scroll-margin-top: 170px;
}

.service_carousel {
    margin-bottom: 350px;
}

/*
Размер рамки
*/
.carousel {
    position: relative;
    width: 100%;
    height: 580px;
    padding: 20px 50px;
    border: 10px solid #e8d7c8;
    border-radius: 30px;
    background: #020736;
    color: #e8d7c8;

}

.carousel img {
    max-width: 320px;
    max-height: 320px;
    /* делаем этот элемент блочным, чтобы убрать лишнее пространство вокруг картинок */
    display: block;
}

.arrow {
    position: absolute;
    top: 100px;
    margin-top: 150px;
    padding: 0;
    background: #E23535;
    color: #e8d7c8;
    border-radius: 30px;
    /*border: 10px solid orange;*/
    font-size: 30px;
    line-height: 30px;

    display: block;
}

.arrow:focus {
    outline: none;
    background: #610202;
}

.arrow:hover {
    background: #610202;
    cursor: pointer;
}

.prev {
    left: 15px;
}

.next {
    right: 15px;
}

.gallery {
    width: 1025px;
    height: 100%;
    overflow: hidden;
    justify-content: center;
}

.gallery ul {
    width: 9999px;
    height: 400px;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: margin-left 250ms;
    /* удаляем пустое пространство между элементами li, у которых установлен inline-block */
    /* http://davidwalsh.name/remove-whitespace-inline-block */
    font-size: 10px;
}

.gallery li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.gallery li:first-child {
    margin-left: 0;
}

.block {
    display: grid;
    height: 550px;
    max-width: 320px;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

.block-title {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    height: 94px;
    display: grid;
    align-items: center;
    margin-top: 0;
}

.service-carousel_submit {
    width: 320px;
    height: 40px;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 500;
    color: #e8d7c8;
    background-color: #E23535;
    /*position: relative;*/
    /*display: inline-block;*/
    cursor: pointer;
    text-align: center;
}

.service-carousel_submit:hover {
    background: #610202;
}

.service-carousel_submit:focus {
    background: #610202;
}

/* Carousel style end */

/* Service styles start*/
/*Для открытия карусели убираем прямые ссылки*/
.service {
    display: none;
}

.service_title_wrapper {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    margin-bottom: 20px;
}

.service_title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 40px;
    max-width: 878px;
    text-align: center;
}

.service_title2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 20px;
    max-width: 878px;
    text-align: center;
}

.service_line {
    margin-bottom: 20px;
}

.service_wrapper_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: flex-start;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;

}

.service_wrapper_section_1_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: justify;
}

.service_wrapper_section_2_row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    text-align: justify;
}

.railways {
    max-width: 330px;
    max-height: 330px;
}

.railways2 {
    max-width: 330px;
    max-height: 330px;
}

.service_wrapper_button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-bottom: 50px;
}

.service_wrapper_button-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-bottom: 200px;
}

.service_railways {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
    max-width: 326px;
}


.service_svyaz {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 50px;
    max-width: 326px;
}

.service_scb {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 50px;
    max-width: 326px;
}

.service_submit {
    width: 320px;
    height: 49px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    color: #e8d7c8;
    background-color: #E23535;
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

/*text-align: justify;*/
.service_submit:hover, about_submit:focus {
    background: #610202;
}


/* Toggle this class when clicking on the popup container (hide and show the popup) */
.service_submit .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Service styles end*/

/* Project styles start*/
.project_title {
    color: #00A5FE;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 150px;
}

.check_submit {
    width: 57px;
    height: 57px;
    color: #e8d7c8;
    background-color: #E23535;
}

.check_submit:hover, check_submit:focus, check_submit:active {
    background: #610202;
}

/* Project styles end*/

/* Count styles start*/
.count {
    margin-bottom: 350px;
}

.count_wrapper {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 15px;
    margin-bottom: 50px;
}

.count_title {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 32px;
    line-height: 50px;
    margin-bottom: 10px;

}

.count_subtitle {
    display: -ms-grid;
    display: grid;
    font-weight: 700;
    font-size: 25px;
    line-height: 50px;
    margin-bottom: 50px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.send-form {
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/*/!!!!! правильное расположение/*/
.send-form_info {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

}

.send-form_field {
    background-color: transparent;
    padding-left: 30px;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 400;
    color: #e8d7c8;
    border: none;
}

.send-form_field::-webkit-input-placeholder {
    font-size: 18px;
    font-weight: 400;
    color: #e8d7c8;
}

.send-form_field::-moz-placeholder {
    font-size: 18px;
    font-weight: 400;
    color: #e8d7c8;
}

.send-form_field:-ms-input-placeholder {
    font-size: 18px;
    font-weight: 400;
    color: #e8d7c8;
}

.send-form_field::-ms-input-placeholder {
    font-size: 18px;
    font-weight: 400;
    color: #e8d7c8;
}

.send-form_field::placeholder {
    font-size: 18px;
    font-weight: 400;
    color: #e8d7c8;
}

.send-form_wrapper {
    margin-bottom: 20px;
}

.count h4 {
    font-size: 15px;
    margin-bottom: 20px;
}

.g-recaptcha {
    margin-bottom: 20px
}

.bot-send-mail {
    width: 200px;
    height: 50px;
    color: #e8d7c8;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    background-color: #E23535;
    padding: 13px 42px;
    margin-bottom: 200px;
}

.bot-send-mail:hover, .bot-send-mail:focus, .bot-send-mail:active {
    background: #610202;
}

/* Count styles end*/

/*Contact style start*/

.contact_title {
    scroll-margin-top: 170px;
    color: #00A5FE;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 70px;
}

.contact_wrapper_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.contact_wrapper_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.contact_question {
    color: #e8d7c8;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 100px;
}

.contact_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.contact_info_text {
    color: #e8d7c8;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.phone {
    width: 47px;
    height: 47px;
}

.mail {
    width: 47px;
    height: 47px;
}

/*Contact style end*/

/* Footer styles start */

.footer_mobile{
    display: none;
}
.footer {
    padding: 100px;
    background: -webkit-gradient(linear, left top, left bottom, from(#020736), to(rgba(0, 44, 100, 1)));
    background: -o-linear-gradient(#020736, rgba(0, 44, 100, 1));
    background: linear-gradient(#020736, rgba(0, 44, 100, 1));
}

.footer_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer_logo-pic {
    width: 150px;
    padding-right: 50px;
    margin-right: 70px;
}

.footer_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 80%;
}

.footer_menu {
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    color: #e8d7c8;
    -webkit-text-decoration-line: none;
    text-decoration-line: none;
}

.footer_menu-item {
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    color: #e8d7c8;
    -webkit-text-decoration-line: none;
    text-decoration-line: none;
}

.footer_menu-item2 {
    font-weight: 700;
    font-size: 20px;
    color: #e8d7c8;
    text-transform: none;
    margin-bottom: 10px;
}

.footer_menu-item3 {
    font-weight: 500;
    font-size: 12px;
    color: #FFFFFF;
    text-transform: none;
    margin-bottom: 5px;
}

.footer_menu-link, .footer_menu-link:visited {
    color: #FFFFFF;
    -webkit-text-decoration-line: none;
    text-decoration-line: none;

}

.footer_menu-link:hover, .footer_menu-link:focus, .footer_menu-link:active {
    color: #E23535;
}

/* Footer styles end */

/* Media start */

@media screen and (max-width: 1200px) {
    .wrapper {
        margin-left: 10px;
        margin-right: 10px;
    }
}


@media screen and (max-width: 900px) {
    .header_burger {
        display: block;
    }

    .header_logo-pic {
        width: 100px;
    }


    .header_nav {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: fixed;
        z-index: 10;
        background: rgba(0, 25, 59, 1);
        padding: 75px;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
        -webkit-transition: .2s all linear;
        -o-transition: .2s all linear;
        transition: .2s all linear;
    }

    .header_wrapper {
        height: 10%;
    }

    .header_nav_active {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    .header_item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 5px;
    }

    .header_line {
        display: flex;
        width: 250px;
        margin-bottom: 10px;
    }

    .header_item:last-child {
        margin-bottom: 0;
    }

    .header_link {
        font-size: 20px;
        line-height: 40px;
    }

    .header_nav-close {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 11;
    }

    .header_nav-close-line {
        display: block;
        width: 100%;
        height: 2px;
        background: white;
        position: absolute;
        top: 50%;

    }

    .header_nav-close-line:first-child {
        -webkit-transform: translateY(-50%) rotate(45deg);
        -ms-transform: translateY(-50%) rotate(45deg);
        transform: translateY(-50%) rotate(45deg);
    }

    .header_nav-close-line:last-child {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .intro {
        margin-bottom: 100px;
    }

    .intro_title {
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
    }

    .intro_title_2 {
        font-weight: 500;
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 30px;
        text-align: center;
    }

    .intro_subtitle {
        font-size: 15px;
        margin-left: 10px;
        margin-right: 40px;
    }

    .intro_submit {
        width: 250px;
        height: 40px;
        margin-left: 60px;
        margin-bottom: 50px;
        font-size: 15px;
    }

    .about {
        height: 500px;
        margin-bottom: 100px;
    }

    .about_subtitle {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .about_line {
        margin-bottom: 10px;
    }

    .about_subtitle_text {
        margin-bottom: 10px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .about_pic {
        display: none;
    }

    .about_title {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 50px;
    }

    .about_text {
        font-size: 17px;
    }

    .stages {
        margin-bottom: 100px;
    }

    .stages-title {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 50px;
        padding-left: 10px;
    }

    .stages-text {
        padding-left: 5%;
        padding-right: 5%;

    }

    .stages-text-subtitle {
        font-weight: 500;
        font-size: 20px;
        text-align: center;
        margin-right: 20px;
    }

    /*.stages-text-list{*/
    /*    font-size: 17px;*/
    /*    font-weight: 300;*/
    /*    !*padding-bottom: 5px;*!*/
    /*    line-height: 2px;*/
    /*}*/
    .info_stage_headline,
    .info_stage_headline_2,
    .info_stage_headline_3,
    .info_stage_headline_4,
    .info_stage_headline_5,
    .info_stage_headline_6,
    .info_stage_headline_7 {
        font-size: 17px;
    }

    .info_switch_4:checked ~ .info_body_4 {
        max-height: 2600px;
        margin-bottom: 20px;
    }

    h3 {
        font-size: 17px;
    }

    h4 {
        font-size: 17px;
    }

    li {
        padding-bottom: 0;
        font-size: 16px;
    }

    .info_switch:checked ~ .info_body,
    .info_switch_2:checked ~ .info_body_2,
    .info_switch_3:checked ~ .info_body_3,
    .info_switch_4:checked ~ .info_body_4,
    .info_switch_5:checked ~ .info_body_5,
    .info_switch_6:checked ~ .info_body_6,
    .info_switch_7:checked ~ .info_body_7 {
        max-height: 100%;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .service_carousel {
        display: none;
    }

    .service {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 100px;
    }

    .service_title {
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 5px;
    }

    .service_title2 {
        font-weight: 500;
        font-size: 20px;
    }

    .service_wrapper_info {
        display: block;
    }

    .service_railways {
        font-weight: 500;
        font-size: 17px;
        margin-left: 19px;
    }

    .service_svyaz {
        font-weight: 500;
        font-size: 17px;
        margin-left: 19px;
    }

    .service_scb {
        font-weight: 500;
        font-size: 17px;
        margin-left: 19px;
    }

    .railways {
        max-width: 90%;
    }

    .service_wrapper_section_1_row {
        margin-bottom: 20px;
    }

    .service_submit {
        width: 200px;
        height: 30px;
        font-size: 15px;
        margin-bottom: 20px;
    }

    .service_submit:hover {
        background: #610202;
    }

    .service_submit:focus {
        background: #610202;
    }

    .service_wrapper_button {
        display: none;
    }

    .count {
        margin-bottom: 100px;
    }

    .count_title {
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 0px;
        line-height: 25px;
    }

    .count_subtitle {
        font-size: 20px;
        font-weight: 300;
        text-align: center;
        margin-bottom: 20px;
        line-height: 20px;
    }

    .send-form_wrapper {
        margin-bottom: 20px;
    }

    .bot-send-mail {
        margin-bottom: 50px;
        width: 200px;
        height: 46px;
    }

    .send-form_field {
        font-size: 15px;
    }

    .contact_title {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 20px;
    }

    .count_wrapper {
        margin-bottom: 10px;
    }

    .contact_question {
        font-size: 17px;
        text-align: center;
        margin-bottom: 20px;
    }

    .contact_info_text {
        font-size: 20px;
    }

    .footer {
    display: none;
    }

    .footer_mobile {
        display: block;
        padding: 20px;
    }

    .footer_item {
        width: 120%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        /*-webkit-box-pack: left;*/
        /*-ms-flex-pack: left;*/
        justify-content: left;
        margin-bottom: 10px;
    }

    /*.footer_nav {*/
    /*    display: -webkit-box;*/
    /*    display: -ms-flexbox;*/
    /*    display: flex;*/
    /*    -webkit-box-orient: vertical;*/
    /*    -webkit-box-direction: normal;*/
    /*    -ms-flex-direction: column;*/
    /*    flex-direction: column;*/
    /*    !*-webkit-box-pack: left;*!*/
    /*    !*-ms-flex-pack: left;*!*/
    /*    justify-content: left;*/
    /*}*/
    .footer_menu-link {
        font-size: 15px;
        width: 100%;
    }

    .footer_menu:nth-child(2) {
        margin-left: 0;
        text-align: left;

    }

    .footer_menu:last-child {
        text-align: left;
    }

    .footer_menu-item2 {
        font-size: 15px;
        width: 100%;
    }

    .footer_logo {
        display: none;
    }
}

/* Media end */