/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* roboto-regular - cyrillic */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-cyrillic-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-500 - cyrillic */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v30-cyrillic-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-700 - cyrillic */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-cyrillic-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-900 - cyrillic */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto-v30-cyrillic-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', serif;
    font-style: normal;
    font-size: 20px;
    line-height: 23px;
    font-weight: 500;
    color: #FFFFFF;
    background: #002C64;
}

.wrapper {
    max-width: 1164px;
    margin: 0 auto;
}

/* Header styles start*/
.header {
    background: linear-gradient(180deg, #001C3F 0%, #002C64 100%);
    /*position: fixed; !* закрепление для скрола хеддера*!*/
    top: 0;
    left: 0;
    width: 100%;
}

.header_wrapper {
    display: flex;
    flex-wrap: wrap; /* расположение контента*/
    align-items: center; /*выравнивание по горизонтали*/
    justify-content: space-between; /* выравнивание по краям*/
    padding-top: 15px;
}

.header_list {
    display: flex;
    flex-wrap: wrap;
}

.header_item {
    margin-right: 57px;
}

.header_item:last-child {
    margin-right: 0;
}

.header_link {
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    text-decoration-line: none;
}

.header_link:hover, .header_link:focus, .header_link:active {
    color: #E23535;
    /*  opacity: 0.75;*/
}

/* Header styles end*/

/* Intro styles start*/
.intro {
    height: 100vh;
    margin-bottom: 300px;
    /*padding-top: 150px;*/
}

.intro_wrapper {
    display: flex;
    flex-wrap: nowrap;

}

.intro_text {
    padding-top: 150px;
    background: linear-gradient(90deg, #002C64 53.07%, rgba(0, 44, 100, 0) 96.42%);
    position: absolute;
}


.intro_pic {
    position: revert;

}

.intro_title {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 32px;
    line-height: 50px;
    max-width: 645px;
    margin-bottom: 42px;

}

.intro_subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    max-width: 470px;
    margin-bottom: 114px;
}
.intro_submit{
    background-color: #E23535;
    width: 380px;
    height: 50px;
    gap: 10px;
    margin-bottom: 300px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
}

/* Intro styles end*/

/* Count styles start*/
.count_wrapper {
    display: grid;
    justify-content: center;
    padding-top: 15px;
}

.count_title {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 32px;
    line-height: 50px;
    margin-bottom: 30px;
}

.count_subtitle {
    display: grid;
    font-weight: 400;
    font-size: 14px;
    line-height: 50px;
    margin-bottom: 42px;
    justify-content:center;
}
.send-form_info{
    display: flex;
    flex-wrap: wrap;

}

/* Count styles end*/